{% extends 'base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <div class="panel panel-brand block-margin">
                {% if brand.logoPicture %}
                    <div class="panel-body brand-image text-center">
                        <img class="brand-logo img-responsive" src="assets/images/uploads/{{ brand.logoPicture }}" alt="Logo de la marque">
                    </div>
                {% endif %}
                {% if brand.introductionText %}
                    <div class="panel-footer brand-text">
                        {{ brand.introductionText | raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            {% if brand.brandPicture or brand.modelPicture %}
                <div class="panel panel-brand">
                    <div class="panel-body">
                        <div class="row">
                            {% if brand.brandPicture %}
                                {% if brand.modelPicture %}
                                    <div class="col-md-8 block-margin">
                                        <img class="img-responsive" src="assets/images/uploads/{{ brand.brandPicture }}" alt="Photo de présentation">
                                    </div>
                                {% else %}
                                    <div class="col-md-12">
                                        <img class="img-responsive" src="assets/images/uploads/{{ brand.brandPicture }}" alt="Photo de présentation">
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if brand.modelPicture %}
                                {% if brand.brandPicture %}
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="assets/images/uploads/{{ brand.modelPicture }}" alt="Photo du manequin">
                                    </div>
                                {% else %}
                                    <div class="col-md-12">
                                        <img class="img-responsive" src="assets/images/uploads/{{ brand.modelPicture }}" alt="Photo du manequin">
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% if brand.articleText %}
                        <div class="panel-footer brand-text">
                            {{ brand.articleText | raw }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}