{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <link href="index.php?route=brand-style&id={{ brand.id }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <div class="panel panel-brand block-margin">
                {% if brand.logoPicture %}
                    <div class="panel-body brand-image text-center">
                        <img class="brand-logo img-responsive" src="assets/images/uploads/{{ brand.logoPicture }}" alt="Logo de la marque">
                    </div>
                {% endif %}
                {% if brand.introductionText %}
                    <div class="panel-footer brand-text">
                        {{ brand.introductionText | raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            {% if brand.brandPicture or brand.modelPicture %}
                <div class="panel panel-brand">
                    <div class="panel-body">
                        <div class="brand-img-group">
                            <div class="brand-img-container brand-img-container-left text-center">
                                {% if brand.brandPicture %}
                                    <img class="brand-img" src="assets/images/uploads/{{ (brand.modelPicturePosition == true) ? brand.modelPicture : brand.brandPicture }}" alt="Photo de présentation dans le magasin">
                                {% endif %}
                            </div>
                            <div class="brand-img-container brand-img-container-right text-center">
                                {% if brand.modelPicture %}
                                    <img class="brand-img" src="assets/images/uploads/{{ (brand.modelPicturePosition == false) ? brand.modelPicture : brand.brandPicture }}" alt="Photo de présentation du manequin">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if brand.articleText %}
                        <div class="panel-footer brand-text">
                            {{ brand.articleText | raw }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}