{% extends 'base.html.twig' %}
{% block header %}
    <header class="header-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="slogan-col col-md-offset-6 col-md-6">
                    <div class="slogan-bg">
                        <h1 class="slogan">"Ne vous laissez pas dicter vos choix"</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <section class="row intro-bloc">
        {% if company.video_link %}
            <div class="intro-col col-md-7">
                <img src="assets/images/logo.png" alt="Logo" class="logo-body text-center">
                <h3 class="intro-title text-center">Le Sportwear Chic</h3>
                <div class="intro-content">
                    {{ company.content | raw }}
                </div>
            </div>
        {% else %}
            <div class="intro-col col-md-12">
                <img src="assets/images/logo.png" alt="Logo" class="logo-body text-center">
                <h3 class="intro-title text-center">Le Sportwear Chic</h3>
                <div class="intro-content">
                    {{ company.content | raw }}
                </div>
            </div>
        {% endif %}
        {% if company.video_link %}
            <div class="intro-col col-md-5">
                <div class="media">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item"
                                src="http://www.youtube.com/embed/{{ company.video_link }}"></iframe>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
    <br/>
    <section>
        <div class="container-fluid">
    <div class="row shop-row">
        {% if company.picture1 %}
            <div class="shop-col col-md-4">
                <div class="preview thumbnail">
                    <img class="img-responsive" src="assets/images/uploads/{{ company.picture1 }}" alt="Photo Boutique 1">
                </div>
            </div>
        {% endif %}
        {% if company.picture2 %}
            <div class="shop-col col-md-4">
                <div class="preview thumbnail">
                    <img class="img-responsive" src="assets/images/uploads/{{ company.picture2 }}" alt="Photo Boutique 2">
                </div>
            </div>
        {% endif %}
        {% if company.picture3 %}
            <div class="shop-col col-md-4">
                <div class="preview thumbnail">
                    <img class="img-responsive" src="assets/images/uploads/{{ company.picture3 }}" alt="Photo Boutique 3">
                </div>
            </div>
        {% endif %}
            </div>
        </div>
    </section>
{% endblock %}